body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f9e6ff;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    border-radius: 20px;
    background-color: #ffb3e6;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff80bf;
}
